.flows_BravoFH.json.backup
[{"id":"5d69e724.799f48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"31a6f56f.45fb12","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"79a0c00c.20fb2","type":"mqtt-broker","z":"","name":"local","broker":"192.168.1.32","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"317178db.11bb28","type":"ui_tab","z":"","name":"Pool","icon":"dashboard","order":15},{"id":"2920c30c.afd18c","type":"mqtt-broker","z":"","name":"local","broker":"10.0.50.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"86a26a21.0643e8","type":"ui_group","z":"","name":"Pool Light and Pump","tab":"317178db.11bb28","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b178b6a.0fd3b5","type":"ui_tab","z":"","name":"Pool","icon":"dashboard","order":15},{"id":"75707ecd.3b831","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c2a2da8.8c123","type":"mqtt-broker","z":"","name":"","broker":"10.0.50.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c1901bd3.1b9098","type":"mqtt-broker","z":"","name":"local","broker":"192.168.1.32","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b380f8fc.573b9","type":"ui_group","z":"","name":"Geyser A1(Room 1-3 + Kitchen)","tab":"6abf77f2.eab198","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e590aac.63e18","type":"ui_group","z":"","name":"Geyser A2(Room 1-3 + Kitchen)","tab":"6abf77f2.eab198","order":2,"disp":true,"width":"6","collapse":false},{"id":"6a60fc27.30bdd4","type":"ui_group","z":"","name":"Geyser B1(4)","tab":"6abf77f2.eab198","order":3,"disp":true,"width":"6","collapse":false},{"id":"14098462.002984","type":"ui_group","z":"","name":"Geyser C1 (5-8)","tab":"6abf77f2.eab198","order":4,"disp":true,"width":"6","collapse":false},{"id":"dbf1c3b4.63ce7","type":"ui_group","z":"","name":"Geyser C2 (5-8)","tab":"6abf77f2.eab198","order":5,"disp":true,"width":"6","collapse":false},{"id":"97009154.c342","type":"ui_group","z":"","name":"Geyser C3 (5-8)","tab":"6abf77f2.eab198","order":6,"disp":true,"width":"6","collapse":false},{"id":"d328d1ba.b81b08","type":"ui_group","z":"","name":"Geyser D1 (9-12)","tab":"6abf77f2.eab198","order":7,"disp":true,"width":"6","collapse":false},{"id":"b228a3d4.dece18","type":"ui_group","z":"","name":"Geyser E1 (24 Nerina)","tab":"6abf77f2.eab198","order":9,"disp":true,"width":"6","collapse":false},{"id":"cda40f51.77719","type":"ui_group","z":"","name":"Geyser E2 (24 Nerina)","tab":"6abf77f2.eab198","order":10,"disp":true,"width":"6","collapse":false},{"id":"20db32c1.fc0646","type":"ui_group","z":"","name":"Geyser E3 (24 Nerina)","tab":"6abf77f2.eab198","order":11,"disp":true,"width":"6","collapse":false},{"id":"aa0e0cd0.f147a8","type":"ui_group","z":"","name":"Geyser D2 (9-12)","tab":"6abf77f2.eab198","order":8,"disp":true,"width":"6","collapse":false},{"id":"6abf77f2.eab198","type":"ui_tab","z":"","name":"Geysers","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"f613ffc5.2f07e","type":"mqtt out","z":"5d69e724.799f48","name":"","topic":"LFHPool/relay2","qos":"0","retain":"","broker":"79a0c00c.20fb2","x":680,"y":280,"wires":[]},{"id":"d140242c.744148","type":"mqtt out","z":"5d69e724.799f48","name":"","topic":"LFHPool/relay3","qos":"1","retain":"","broker":"79a0c00c.20fb2","x":480,"y":640,"wires":[]},{"id":"60435c8e.c0e694","type":"inject","z":"5d69e724.799f48","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":470,"y":260,"wires":[["f613ffc5.2f07e"]]},{"id":"3a0f1116.de533e","type":"inject","z":"5d69e724.799f48","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":470,"y":220,"wires":[["f613ffc5.2f07e"]]},{"id":"e9b68b68.0c2118","type":"inject","z":"5d69e724.799f48","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":600,"wires":[["d140242c.744148"]]},{"id":"3c005de0.375c32","type":"inject","z":"5d69e724.799f48","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":560,"wires":[["d140242c.744148"]]},{"id":"6a82697e.ff27b8","type":"comment","z":"5d69e724.799f48","name":"Pool Light","info":"","x":100,"y":40,"wires":[]},{"id":"c7d19722.df4018","type":"comment","z":"5d69e724.799f48","name":"Pool Pump","info":"","x":100,"y":460,"wires":[]},{"id":"c588f6d1.f13328","type":"timerswitch","z":"5d69e724.799f48","name":"Pool Light Timer","ontopic":"","offtopic":"","onpayload":"1","offpayload":"0","disabled":false,"schedules":[{"on_h":"18","on_m":"00","on_s":"00","off_h":"23","off_m":"00","off_s":"00","valid":true}],"x":300,"y":280,"wires":[["f613ffc5.2f07e"]]},{"id":"a6fa5349.9f6cf","type":"timerswitch","z":"5d69e724.799f48","name":"Pool Pump Timer","ontopic":"","offtopic":"","onpayload":"1","offpayload":"0","disabled":false,"schedules":[{"on_h":"08","on_m":"30","on_s":"00","off_h":"18","off_m":"00","off_s":"00","valid":true}],"x":160,"y":720,"wires":[["d140242c.744148"]]},{"id":"ba698101.3d311","type":"ui_button","z":"5d69e724.799f48","name":"","group":"86a26a21.0643e8","order":4,"width":"0","height":"0","passthru":false,"label":"Pump On","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":460,"y":540,"wires":[["d140242c.744148"]]},{"id":"b2603a6b.2f7c68","type":"ui_button","z":"5d69e724.799f48","name":"","group":"86a26a21.0643e8","order":5,"width":"0","height":"0","passthru":false,"label":"Pump Off","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":460,"y":580,"wires":[["d140242c.744148"]]},{"id":"e375e323.c5e28","type":"ui_switch","z":"5d69e724.799f48","name":"","label":"Pool Light","group":"86a26a21.0643e8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":140,"wires":[["f613ffc5.2f07e"]]},{"id":"113dfd19.ff6713","type":"mqtt in","z":"5d69e724.799f48","name":"","topic":"Pool/temp1","qos":"0","datatype":"auto","broker":"2920c30c.afd18c","x":210,"y":900,"wires":[["d58bf3bf.6d75c","b2f3f2ec.d8485"]]},{"id":"d58bf3bf.6d75c","type":"ui_text_input","z":"5d69e724.799f48","name":"","label":"Pool Temperature","group":"86a26a21.0643e8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":450,"y":840,"wires":[[]]},{"id":"b2f3f2ec.d8485","type":"json","z":"5d69e724.799f48","name":"","property":"payload","action":"","pretty":false,"x":440,"y":980,"wires":[["38f3a2bf.de2d4e","96147838.92c648"]]},{"id":"38f3a2bf.de2d4e","type":"ui_chart","z":"5d69e724.799f48","name":"","group":"86a26a21.0643e8","order":2,"width":0,"height":0,"label":"temp","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"50","removeOlder":"3","removeOlderPoints":"60000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":1020,"wires":[[]]},{"id":"96147838.92c648","type":"ui_gauge","z":"5d69e724.799f48","name":"","group":"86a26a21.0643e8","order":3,"width":0,"height":0,"gtype":"gage","title":"Pool Temp","label":"Deg","format":"{{value}}","min":"10","max":"50","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":600,"y":1140,"wires":[]},{"id":"a2aea2ae.ae9f1","type":"bigtimer","z":"5d69e724.799f48","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"30.5595","lon":"22.9375","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":260,"y":400,"wires":[[],["483b12cd.f9e24c"],[]]},{"id":"483b12cd.f9e24c","type":"debug","z":"5d69e724.799f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":400,"wires":[]},{"id":"47ed3a03.940db4","type":"mqtt out","z":"5d69e724.799f48","name":"","topic":"cmnd/sonoffs/POWER","qos":"","retain":"","broker":"79a0c00c.20fb2","x":1080,"y":560,"wires":[]},{"id":"b70c681f.350da8","type":"inject","z":"5d69e724.799f48","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":640,"wires":[["47ed3a03.940db4"]]},{"id":"45c6476b.091408","type":"inject","z":"5d69e724.799f48","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":460,"wires":[["47ed3a03.940db4"]]},{"id":"17a53ff3.a1e7b","type":"comment","z":"31a6f56f.45fb12","name":"Geysers","info":"","x":140,"y":40,"wires":[]},{"id":"bf5fda65.a82498","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserA1/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":856,"y":85,"wires":[]},{"id":"ad3b0980.2471d8","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"Geyser A1 (6-11; 2-4)","tooltip":"","group":"b380f8fc.573b9","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":520,"y":91,"wires":[["bf5fda65.a82498"]]},{"id":"23b3ff97.e7dd3","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserA1/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":91,"wires":[["ad3b0980.2471d8"]]},{"id":"35fdea29.9861e6","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserA1/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":190,"y":193,"wires":[["31fd9641.a4aaa2"]]},{"id":"df0deda4.384938","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserB/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":802,"y":329,"wires":[]},{"id":"d772f867.da2a7","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"Geyser A2 (7-9am; 10-3pm)","tooltip":"","group":"9e590aac.63e18","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":540,"y":329,"wires":[["df0deda4.384938"]]},{"id":"7910617.9f0e1a","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserB/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":329,"wires":[["d772f867.da2a7"]]},{"id":"fa34e5cc.181f4","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserB/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":414,"wires":[["f0a599c0.48c988"]]},{"id":"f0a599c0.48c988","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":436,"y":414,"wires":[["5a9bed68.53692c","4c0340da.3eaf1","5d55ff61.c364a8"]]},{"id":"50127dbc.c6dcec","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserB1/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":802,"y":550,"wires":[]},{"id":"fd20e9b1.7c1eb","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"Geyser B1 (6.30-8am; 12-2pm)","tooltip":"","group":"6a60fc27.30bdd4","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":470,"y":542,"wires":[["50127dbc.c6dcec"]]},{"id":"cd356343.22ed4","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserB1/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":550,"wires":[["fd20e9b1.7c1eb"]]},{"id":"16cfec80.276b54","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserB1/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":190,"y":652,"wires":[["b6f1f505.45d588"]]},{"id":"e86306f0.0a4bc","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserC1/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":837,"y":803,"wires":[]},{"id":"8ff1b7a3.26b868","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"GeyserC1 (6.15am-9.30; 11-1pm)","tooltip":"","group":"14098462.002984","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":560,"y":805,"wires":[["e86306f0.0a4bc"]]},{"id":"5185b1a2.5da698","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserC1/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":805,"wires":[["8ff1b7a3.26b868"]]},{"id":"919373b6.18a318","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserC1/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":190,"y":907,"wires":[["1d4647f5.4792c8"]]},{"id":"8fa2b70f.7aa568","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserC2/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":802,"y":1060,"wires":[]},{"id":"447a8d0d.8d91c4","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"GeyserC2 (6.45-8.30; 12-16)","tooltip":"","group":"dbf1c3b4.63ce7","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":540,"y":1060,"wires":[["8fa2b70f.7aa568"]]},{"id":"3a87c004.5b1b98","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserC2/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":1060,"wires":[["447a8d0d.8d91c4"]]},{"id":"6a8c4515.ddab6c","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserC2/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":190,"y":1162,"wires":[["ca42467e.4db648"]]},{"id":"31fd9641.a4aaa2","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":true,"x":436,"y":193,"wires":[["1ab4bacc.0aaf05","5a2a152.ddb446c","93a2360e.9ee128"]]},{"id":"1ab4bacc.0aaf05","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":142,"wires":[["1fe50c5e.5be9a4","75ef66ba.fabbd8","247263dc.749f0c"]]},{"id":"5a2a152.ddb446c","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":193,"wires":[["f8b2b5e5.f4db48"]]},{"id":"93a2360e.9ee128","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":244,"wires":[["5fba9c14.48c22c"]]},{"id":"f8b2b5e5.f4db48","type":"ui_text","z":"31a6f56f.45fb12","group":"b380f8fc.573b9","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":193,"wires":[]},{"id":"5fba9c14.48c22c","type":"ui_text","z":"31a6f56f.45fb12","group":"b380f8fc.573b9","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":244,"wires":[]},{"id":"75ef66ba.fabbd8","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b380f8fc.573b9","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":278,"wires":[[]]},{"id":"1fe50c5e.5be9a4","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b380f8fc.573b9","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":142,"wires":[[]]},{"id":"4c0340da.3eaf1","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":363,"wires":[["7a06e853.993648","270fb543.6f60c2","5514d572.e22e9c"]]},{"id":"5a9bed68.53692c","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":414,"wires":[["8e1593cb.ff2c5"]]},{"id":"5d55ff61.c364a8","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":465,"wires":[["deb61173.3965e8"]]},{"id":"8e1593cb.ff2c5","type":"ui_text","z":"31a6f56f.45fb12","group":"9e590aac.63e18","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":414,"wires":[]},{"id":"deb61173.3965e8","type":"ui_text","z":"31a6f56f.45fb12","group":"9e590aac.63e18","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":465,"wires":[]},{"id":"270fb543.6f60c2","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"9e590aac.63e18","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":499,"wires":[[]]},{"id":"7a06e853.993648","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"9e590aac.63e18","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":363,"wires":[[]]},{"id":"b6f1f505.45d588","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":436,"y":652,"wires":[["6386435b.d19c1c","a239c759.ddc68","6e03d020.0bece8"]]},{"id":"a239c759.ddc68","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":601,"wires":[["c62eb7d0.35245","a181e1f0.3ec058","ea61ae0c.cbd348"]]},{"id":"6386435b.d19c1c","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":652,"wires":[["a1ba0dc0.ad9a8"]]},{"id":"6e03d020.0bece8","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":703,"wires":[["6378796d.5d839"]]},{"id":"a1ba0dc0.ad9a8","type":"ui_text","z":"31a6f56f.45fb12","group":"6a60fc27.30bdd4","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":652,"wires":[]},{"id":"6378796d.5d839","type":"ui_text","z":"31a6f56f.45fb12","group":"6a60fc27.30bdd4","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":703,"wires":[]},{"id":"a181e1f0.3ec058","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"6a60fc27.30bdd4","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":737,"wires":[[]]},{"id":"c62eb7d0.35245","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"6a60fc27.30bdd4","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":601,"wires":[[]]},{"id":"1d4647f5.4792c8","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":436,"y":907,"wires":[["94dae52f.6716c8","b08a3a6b.49a82","a7701a1e.8b30d"]]},{"id":"b08a3a6b.49a82","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":856,"wires":[["99a0187.2e2cb68","db2a0344.952c5","99e6b808.47657"]]},{"id":"94dae52f.6716c8","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":907,"wires":[["aa7b7d23.3b0e"]]},{"id":"a7701a1e.8b30d","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":958,"wires":[["141e08d8.231fff"]]},{"id":"aa7b7d23.3b0e","type":"ui_text","z":"31a6f56f.45fb12","group":"14098462.002984","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":907,"wires":[]},{"id":"141e08d8.231fff","type":"ui_text","z":"31a6f56f.45fb12","group":"14098462.002984","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":958,"wires":[]},{"id":"db2a0344.952c5","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"14098462.002984","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":992,"wires":[[]]},{"id":"99a0187.2e2cb68","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"14098462.002984","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":856,"wires":[[]]},{"id":"ca42467e.4db648","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":436,"y":1162,"wires":[["7ccee82e.de2658","86cb71da.5f7ef","ded8d0c4.0b097"]]},{"id":"86cb71da.5f7ef","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":1111,"wires":[["93043297.0bd358","387e6cc4.1f37ec","ff7524c8.17ba38"]]},{"id":"7ccee82e.de2658","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":1162,"wires":[["dbd4592.2912fa8"]]},{"id":"ded8d0c4.0b097","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":1213,"wires":[["8e97564b.c0d41"]]},{"id":"dbd4592.2912fa8","type":"ui_text","z":"31a6f56f.45fb12","group":"dbf1c3b4.63ce7","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":1162,"wires":[]},{"id":"8e97564b.c0d41","type":"ui_text","z":"31a6f56f.45fb12","group":"dbf1c3b4.63ce7","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":1213,"wires":[]},{"id":"387e6cc4.1f37ec","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"dbf1c3b4.63ce7","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":1247,"wires":[[]]},{"id":"93043297.0bd358","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"dbf1c3b4.63ce7","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":1111,"wires":[[]]},{"id":"fb1947a1.b480b8","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserC3/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":802,"y":1315,"wires":[]},{"id":"3338d60d.6f80fa","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"Geyser C3 (11.30-3pm)","tooltip":"","group":"97009154.c342","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":530,"y":1315,"wires":[["fb1947a1.b480b8"]]},{"id":"71ec0a8.2703974","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserC3/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":1315,"wires":[["3338d60d.6f80fa"]]},{"id":"e0711c32.f985f","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserC3/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":190,"y":1417,"wires":[["444fbb84.270964"]]},{"id":"444fbb84.270964","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":436,"y":1417,"wires":[["39c87985.c3ec2e","c1f47d95.f3a268","4ae7efc2.356698"]]},{"id":"c1f47d95.f3a268","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":1366,"wires":[["6a2f3576.891b4c","2067efae.0943b8","9a1391d0.0ccb38"]]},{"id":"39c87985.c3ec2e","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":1417,"wires":[["d62f4378.a9f9d8"]]},{"id":"4ae7efc2.356698","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":1468,"wires":[["39cd6cf1.169c84"]]},{"id":"d62f4378.a9f9d8","type":"ui_text","z":"31a6f56f.45fb12","group":"97009154.c342","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":1417,"wires":[]},{"id":"39cd6cf1.169c84","type":"ui_text","z":"31a6f56f.45fb12","group":"97009154.c342","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":1468,"wires":[]},{"id":"2067efae.0943b8","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"97009154.c342","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":1502,"wires":[[]]},{"id":"6a2f3576.891b4c","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"97009154.c342","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":1366,"wires":[[]]},{"id":"74b3ee55.7153f","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserD1(9-12)/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":909,"y":1590,"wires":[]},{"id":"4658a0ae.6a428","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"Geyser D1 (6.30-9am; 2-5pm)","tooltip":"","group":"d328d1ba.b81b08","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":550,"y":1587,"wires":[["74b3ee55.7153f"]]},{"id":"1e045b03.9de155","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserD1(9-12)/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":200,"y":1587,"wires":[["4658a0ae.6a428"]]},{"id":"406eb8ec.d4175","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserD1(9-12)/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":200,"y":1689,"wires":[["9ea198ea.b51858"]]},{"id":"9ea198ea.b51858","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":436,"y":1689,"wires":[["40dd33c1.1fb20c","a569b516.7f128","12c434f9.f798d3"]]},{"id":"a569b516.7f128","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":1638,"wires":[["6e702282.ed6ea4","7bf3b112.a559c","27e27d4a.cb3eba"]]},{"id":"40dd33c1.1fb20c","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":1689,"wires":[["f09e67ee.6a34a"]]},{"id":"12c434f9.f798d3","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":1740,"wires":[["60ee4d6d.04e854"]]},{"id":"f09e67ee.6a34a","type":"ui_text","z":"31a6f56f.45fb12","group":"d328d1ba.b81b08","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":1689,"wires":[]},{"id":"60ee4d6d.04e854","type":"ui_text","z":"31a6f56f.45fb12","group":"d328d1ba.b81b08","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":1740,"wires":[]},{"id":"7bf3b112.a559c","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"d328d1ba.b81b08","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":1774,"wires":[[]]},{"id":"6e702282.ed6ea4","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"d328d1ba.b81b08","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":1638,"wires":[[]]},{"id":"69b5c96f.fde71","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserE1/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":802,"y":1859,"wires":[]},{"id":"baaaa5b7.dc8f4","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"24 Nerina E1 (6-9am; 2-5pm)","tooltip":"","group":"b228a3d4.dece18","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":540,"y":1859,"wires":[["69b5c96f.fde71"]]},{"id":"165c8b9f.830804","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserE1/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":180,"y":1859,"wires":[["baaaa5b7.dc8f4"]]},{"id":"2dd70372.b8d6c4","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserE1/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":190,"y":1961,"wires":[["268b0ddc.37da92"]]},{"id":"268b0ddc.37da92","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":436,"y":1961,"wires":[["2221d195.d5a9f6","b93a82f5.4e","b225e4c9.e6f308"]]},{"id":"b93a82f5.4e","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":623,"y":1910,"wires":[["f86c574d.e67d68","edf97cfe.9d745","f1752d25.e6fad"]]},{"id":"2221d195.d5a9f6","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":653,"y":1961,"wires":[["4be02587.c8ad64"]]},{"id":"b225e4c9.e6f308","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":663,"y":2012,"wires":[["fd126833.3744e"]]},{"id":"4be02587.c8ad64","type":"ui_text","z":"31a6f56f.45fb12","group":"b228a3d4.dece18","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":857,"y":1961,"wires":[]},{"id":"fd126833.3744e","type":"ui_text","z":"31a6f56f.45fb12","group":"b228a3d4.dece18","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":867,"y":2012,"wires":[]},{"id":"edf97cfe.9d745","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b228a3d4.dece18","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":857,"y":2046,"wires":[[]]},{"id":"f86c574d.e67d68","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b228a3d4.dece18","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1051,"y":1910,"wires":[[]]},{"id":"89d4df1a.0ec1c","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserA1Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1339,"y":66,"wires":[["c6639575.068d"]]},{"id":"c6639575.068d","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":true,"x":1575,"y":66,"wires":[["a09e7922.caaaf8"]]},{"id":"a09e7922.caaaf8","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1763,"y":91,"wires":[["af649ee1.fbd8d","a13b7254.fb01c","c0d07d41.f2bb58"]]},{"id":"a13b7254.fb01c","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b380f8fc.573b9","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1999,"y":179,"wires":[[]]},{"id":"af649ee1.fbd8d","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b380f8fc.573b9","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2182,"y":93,"wires":[[]]},{"id":"247263dc.749f0c","type":"ui_text","z":"31a6f56f.45fb12","group":"b380f8fc.573b9","order":3,"width":0,"height":0,"name":"","label":"Current Usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":874,"y":141,"wires":[]},{"id":"e8b38bf1.25b9e","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserA2Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1321,"y":263,"wires":[["b284a604.97e5b"]]},{"id":"b284a604.97e5b","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1562,"y":263,"wires":[["b0646f70.4b7dc8"]]},{"id":"b0646f70.4b7dc8","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1726,"y":264,"wires":[["904347fd.7fb2c8","fc61c6b1.d85da","9ab85ccd.577a88"]]},{"id":"fc61c6b1.d85da","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"9e590aac.63e18","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1912,"y":298,"wires":[[]]},{"id":"904347fd.7fb2c8","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"9e590aac.63e18","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2054,"y":263,"wires":[[]]},{"id":"ea61ae0c.cbd348","type":"ui_text","z":"31a6f56f.45fb12","group":"6a60fc27.30bdd4","order":3,"width":0,"height":0,"name":"","label":"Current Usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":848,"y":598,"wires":[]},{"id":"5514d572.e22e9c","type":"ui_text","z":"31a6f56f.45fb12","group":"9e590aac.63e18","order":3,"width":0,"height":0,"name":"","label":"Current Usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":853,"y":364,"wires":[]},{"id":"6e23209c.f26f18","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserB1Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1322,"y":439,"wires":[["41bafc81.b3b60c"]]},{"id":"41bafc81.b3b60c","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1563,"y":439,"wires":[["59255c8.bb684a4"]]},{"id":"59255c8.bb684a4","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1707,"y":438,"wires":[["9d2902f2.1dc2e8","839d2432.777b5","76e4f893.cf12f"]]},{"id":"839d2432.777b5","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"6a60fc27.30bdd4","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1897,"y":503,"wires":[[]]},{"id":"9d2902f2.1dc2e8","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"6a60fc27.30bdd4","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2101,"y":438,"wires":[[]]},{"id":"c0d07d41.f2bb58","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"b380f8fc.573b9","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1969,"y":43,"wires":[]},{"id":"9ab85ccd.577a88","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"9e590aac.63e18","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1891,"y":234,"wires":[]},{"id":"76e4f893.cf12f","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"6a60fc27.30bdd4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1865,"y":403,"wires":[]},{"id":"80cc8de4.0d13f","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserC1Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1284,"y":898,"wires":[["b591e08a.6370f8"]]},{"id":"b591e08a.6370f8","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1520,"y":898,"wires":[["2e21775c.eb237"]]},{"id":"2e21775c.eb237","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1707,"y":847,"wires":[["d3007ec3.45df18","dac0487b.5665c8","108e7c61.a551b4"]]},{"id":"d3007ec3.45df18","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"14098462.002984","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1904,"y":800,"wires":[]},{"id":"108e7c61.a551b4","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"14098462.002984","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1941,"y":983,"wires":[[]]},{"id":"dac0487b.5665c8","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"14098462.002984","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2135,"y":847,"wires":[[]]},{"id":"99e6b808.47657","type":"ui_text","z":"31a6f56f.45fb12","group":"14098462.002984","order":3,"width":0,"height":0,"name":"","label":"Current usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":860,"y":857,"wires":[]},{"id":"ff7524c8.17ba38","type":"ui_text","z":"31a6f56f.45fb12","group":"dbf1c3b4.63ce7","order":3,"width":0,"height":0,"name":"","label":"Current Usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":853,"y":1112,"wires":[]},{"id":"5e1ce2f1.b62dac","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserC2Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1282,"y":1120,"wires":[["bbd5f078.73938"]]},{"id":"bbd5f078.73938","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1518,"y":1120,"wires":[["ea126415.7df8c"]]},{"id":"ea126415.7df8c","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1705,"y":1069,"wires":[["f073fa22.518798","e1b06b90.01747","67d4eaf8.d91904"]]},{"id":"e1b06b90.01747","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"dbf1c3b4.63ce7","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1939,"y":1205,"wires":[[]]},{"id":"f073fa22.518798","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"dbf1c3b4.63ce7","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2133,"y":1069,"wires":[[]]},{"id":"67d4eaf8.d91904","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"dbf1c3b4.63ce7","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1893,"y":1052,"wires":[]},{"id":"656a7375.28c61c","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserC3Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1281,"y":1365,"wires":[["7ddb7c9c.4e7ff4"]]},{"id":"7ddb7c9c.4e7ff4","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1517,"y":1365,"wires":[["5485898d.7c9f18"]]},{"id":"5485898d.7c9f18","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1704,"y":1314,"wires":[["83a56d29.ba75e","f43b5c14.b7bd78","c3d31e5a.623aa"]]},{"id":"83a56d29.ba75e","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"97009154.c342","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1907,"y":1344,"wires":[]},{"id":"f43b5c14.b7bd78","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"97009154.c342","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2132,"y":1314,"wires":[[]]},{"id":"c3d31e5a.623aa","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"97009154.c342","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1938,"y":1450,"wires":[[]]},{"id":"9a1391d0.0ccb38","type":"ui_text","z":"31a6f56f.45fb12","group":"97009154.c342","order":3,"width":0,"height":0,"name":"","label":"Current Usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":859,"y":1365,"wires":[]},{"id":"27e27d4a.cb3eba","type":"ui_text","z":"31a6f56f.45fb12","group":"d328d1ba.b81b08","order":3,"width":0,"height":0,"name":"","label":"Current Usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":855,"y":1636,"wires":[]},{"id":"970fbf41.ad358","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserD1Temp(9-12)/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1281,"y":1628,"wires":[["a28bdb7d.039c18"]]},{"id":"a28bdb7d.039c18","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1497,"y":1628,"wires":[["2aeefe6d.ccd54a"]]},{"id":"2aeefe6d.ccd54a","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1684,"y":1577,"wires":[["771f3cab.012824","1a5ba16f.143ac7","4d459653.d7a508"]]},{"id":"771f3cab.012824","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"d328d1ba.b81b08","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2112,"y":1577,"wires":[[]]},{"id":"1a5ba16f.143ac7","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"d328d1ba.b81b08","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1918,"y":1713,"wires":[[]]},{"id":"4d459653.d7a508","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"d328d1ba.b81b08","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1895,"y":1631,"wires":[]},{"id":"dbc3229e.114f18","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"06","on_m":"00","on_s":"00","off_h":"11","off_m":"00","off_s":"00","valid":true},{"on_h":"14","on_m":"00","on_s":"00","off_h":"16","off_m":"00","off_s":"00","valid":true}],"x":471,"y":48,"wires":[["bf5fda65.a82498"]]},{"id":"9a6a70b6.2f0be","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"09","off_m":"00","off_s":"00","valid":true},{"on_h":"10","on_m":"00","on_s":"00","off_h":"15","off_m":"00","off_s":"00","valid":true}],"x":586,"y":283,"wires":[["df0deda4.384938"]]},{"id":"6cb4df2c.8a1288","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"06","on_m":"30","on_s":"00","off_h":"08","off_m":"00","off_s":"00","valid":true},{"on_h":"12","on_m":"00","on_s":"00","off_h":"14","off_m":"00","off_s":"00","valid":true}],"x":464,"y":482,"wires":[["50127dbc.c6dcec"]]},{"id":"95f5814e.755648","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"06","on_m":"15","on_s":"00","off_h":"09","off_m":"30","off_s":"00","valid":true},{"on_h":"11","on_m":"00","on_s":"00","off_h":"13","off_m":"00","off_s":"00","valid":true}],"x":634,"y":754,"wires":[["e86306f0.0a4bc"]]},{"id":"a011a5e7.d3b0f8","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"06","on_m":"45","on_s":"00","off_h":"08","off_m":"30","off_s":"00","valid":true},{"on_h":"12","on_m":"00","on_s":"00","off_h":"16","off_m":"00","off_s":"00","valid":true}],"x":584,"y":1002,"wires":[["8fa2b70f.7aa568"]]},{"id":"9f444f04.b3ba18","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"11","on_m":"30","on_s":"00","off_h":"15","off_m":"00","off_s":"00","valid":true}],"x":557,"y":1261,"wires":[["fb1947a1.b480b8"]]},{"id":"cdf0301.7de64d","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"06","on_m":"30","on_s":"00","off_h":"09","off_m":"00","off_s":"00","valid":true},{"on_h":"14","on_m":"00","on_s":"00","off_h":"17","off_m":"00","off_s":"00","valid":true}],"x":528,"y":1522,"wires":[["74b3ee55.7153f"]]},{"id":"f1752d25.e6fad","type":"ui_text","z":"31a6f56f.45fb12","group":"b228a3d4.dece18","order":3,"width":0,"height":0,"name":"","label":"Current usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":843,"y":1909,"wires":[]},{"id":"5e8a69db.433888","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserE2/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":801,"y":2145,"wires":[]},{"id":"1bbdd028.4e924","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"24 Nerina E2 (7-9am; 11am-2pm)","tooltip":"","group":"cda40f51.77719","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":457,"y":2150,"wires":[["5e8a69db.433888"]]},{"id":"1901957b.307bc3","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserE2/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":179,"y":2145,"wires":[["1bbdd028.4e924","563e7539.9fdebc"]]},{"id":"e89693c4.9a2468","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserE2/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":189,"y":2247,"wires":[["465e3c3.831e4c4"]]},{"id":"465e3c3.831e4c4","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":435,"y":2247,"wires":[["179b1f51.099c99","fb9ca294.7a1758","a4e86c81.fda918"]]},{"id":"fb9ca294.7a1758","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":622,"y":2196,"wires":[["8fda4371.8ebb78","7ad8ad85.c4022c","44468b1d.088a3c"]]},{"id":"179b1f51.099c99","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":652,"y":2247,"wires":[["66ba5b4f.a56bd4"]]},{"id":"a4e86c81.fda918","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":662,"y":2298,"wires":[["86a0a961.041f8"]]},{"id":"66ba5b4f.a56bd4","type":"ui_text","z":"31a6f56f.45fb12","group":"cda40f51.77719","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":856,"y":2247,"wires":[]},{"id":"86a0a961.041f8","type":"ui_text","z":"31a6f56f.45fb12","group":"cda40f51.77719","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":866,"y":2298,"wires":[]},{"id":"7ad8ad85.c4022c","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"cda40f51.77719","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":856,"y":2332,"wires":[[]]},{"id":"44468b1d.088a3c","type":"ui_text","z":"31a6f56f.45fb12","group":"cda40f51.77719","order":3,"width":0,"height":0,"name":"","label":"Current usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":842,"y":2195,"wires":[]},{"id":"8fda4371.8ebb78","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"cda40f51.77719","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":2196,"wires":[[]]},{"id":"dde344a5.ee973","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserE3/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":805,"y":2426,"wires":[]},{"id":"81ff989.d8478e8","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"24 Nerina E3 (10am-4pm)","tooltip":"","group":"20db32c1.fc0646","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":533,"y":2426,"wires":[["dde344a5.ee973"]]},{"id":"e863ec81.e09a98","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserE3/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":183,"y":2426,"wires":[["81ff989.d8478e8"]]},{"id":"2d25c0a2.71b568","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserE3/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":193,"y":2528,"wires":[["82e846cc.72efe8"]]},{"id":"82e846cc.72efe8","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":439,"y":2528,"wires":[["2b354dad.fe34b2","5d355d3.1ed6924","ff44a882.4da658"]]},{"id":"5d355d3.1ed6924","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":626,"y":2477,"wires":[["ef80aab2.91d228","69c27dd3.f06744","680111c6.7716e8"]]},{"id":"2b354dad.fe34b2","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":656,"y":2528,"wires":[["fbe84f9a.a7d3b8"]]},{"id":"ff44a882.4da658","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":666,"y":2579,"wires":[["baa7386e.1f34"]]},{"id":"fbe84f9a.a7d3b8","type":"ui_text","z":"31a6f56f.45fb12","group":"20db32c1.fc0646","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":860,"y":2528,"wires":[]},{"id":"baa7386e.1f34","type":"ui_text","z":"31a6f56f.45fb12","group":"20db32c1.fc0646","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":870,"y":2579,"wires":[]},{"id":"69c27dd3.f06744","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"20db32c1.fc0646","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":2613,"wires":[[]]},{"id":"680111c6.7716e8","type":"ui_text","z":"31a6f56f.45fb12","group":"20db32c1.fc0646","order":3,"width":0,"height":0,"name":"","label":"Current usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":851.0000305175781,"y":2498.000062942505,"wires":[]},{"id":"ef80aab2.91d228","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"20db32c1.fc0646","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1054,"y":2477,"wires":[[]]},{"id":"a3ecc29a.e0e19","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserE1Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1281,"y":1901,"wires":[["de86cd0e.458ee"]]},{"id":"de86cd0e.458ee","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1517,"y":1902,"wires":[["51dd3e4.0a2a9c"]]},{"id":"51dd3e4.0a2a9c","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1705,"y":1902,"wires":[["a0208339.cdb1a8","2a1ce077.b9393","679ae22d.a9658c"]]},{"id":"a0208339.cdb1a8","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b228a3d4.dece18","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1895,"y":1849,"wires":[[]]},{"id":"679ae22d.a9658c","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"b228a3d4.dece18","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1917,"y":1902,"wires":[]},{"id":"2a1ce077.b9393","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"b228a3d4.dece18","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1906,"y":1950,"wires":[[]]},{"id":"189a81f2.e53786","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserE2Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1286,"y":2191,"wires":[["b0250fc4.49f3f8"]]},{"id":"b0250fc4.49f3f8","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1522,"y":2192,"wires":[["99bfa870.bd7d68"]]},{"id":"99bfa870.bd7d68","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1710,"y":2192,"wires":[["f32ba35.dcbc36","17d5698e.ae78ee","3c50fc47.8b3fac"]]},{"id":"f32ba35.dcbc36","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"cda40f51.77719","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1900,"y":2139,"wires":[[]]},{"id":"3c50fc47.8b3fac","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"cda40f51.77719","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1922,"y":2192,"wires":[]},{"id":"17d5698e.ae78ee","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"cda40f51.77719","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1911,"y":2240,"wires":[[]]},{"id":"f7de042f.c44b28","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserE3Temp1/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1284,"y":2492,"wires":[["1cac1b55.aacd5d"]]},{"id":"1cac1b55.aacd5d","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1510,"y":2493,"wires":[["ce2777c3.ddda2"]]},{"id":"ce2777c3.ddda2","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1698,"y":2493,"wires":[["5c71841e.4de0ac","a7ae0a71.d0405","ee3bfc1e.4f8e28"]]},{"id":"5c71841e.4de0ac","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"20db32c1.fc0646","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1888,"y":2440,"wires":[[]]},{"id":"ee3bfc1e.4f8e28","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"20db32c1.fc0646","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1910,"y":2493,"wires":[]},{"id":"a7ae0a71.d0405","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"20db32c1.fc0646","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1899,"y":2541,"wires":[[]]},{"id":"9be71e2c.41313","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"06","on_m":"00","on_s":"00","off_h":"09","off_m":"00","off_s":"00","valid":true},{"on_h":"14","on_m":"00","on_s":"00","off_h":"17","off_m":"00","off_s":"00","valid":true}],"x":609,"y":1796,"wires":[["69b5c96f.fde71"]]},{"id":"bca3c4e2.7f6d7","type":"timerswitch","z":"31a6f56f.45fb12","name":"E2 Timer (24 Nerina)","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"09","off_m":"00","off_s":"00","valid":true},{"on_h":"11","on_m":"00","on_s":"00","off_h":"14","off_m":"00","off_s":"00","valid":true}],"x":389,"y":2010,"wires":[["5e8a69db.433888"]]},{"id":"871dc466.093c88","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"10","on_m":"00","on_s":"00","off_h":"16","off_m":"00","off_s":"00","valid":true}],"x":573,"y":2364,"wires":[["dde344a5.ee973"]]},{"id":"563e7539.9fdebc","type":"debug","z":"31a6f56f.45fb12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":237.5,"y":2069,"wires":[]},{"id":"fad553e2.e18858","type":"inject","z":"31a6f56f.45fb12","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":462.5,"y":2105,"wires":[["5e8a69db.433888"]]},{"id":"d9b5f40.636929","type":"inject","z":"31a6f56f.45fb12","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":452,"y":2198,"wires":[["5e8a69db.433888"]]},{"id":"1f1ac73.5a31e39","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserE2/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":823,"y":2092,"wires":[]},{"id":"4ee343ce.500edc","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserC3Temp/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":371,"y":1374,"wires":[]},{"id":"154d5568.4424f3","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserC3Temp/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":201,"y":1231,"wires":[["5bd089bb.f598e"]]},{"id":"ac1cd3fc.fd4d58","type":"inject","z":"31a6f56f.45fb12","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":188.5,"y":1269,"wires":[["4ee343ce.500edc"]]},{"id":"5bd089bb.f598e","type":"debug","z":"31a6f56f.45fb12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":416.5,"y":1220,"wires":[]},{"id":"af9761d1.31d2","type":"mqtt out","z":"31a6f56f.45fb12","name":"","topic":"cmnd/GeyserD2(9-12)/POWER","qos":"","retain":"","broker":"c1901bd3.1b9098","x":902,"y":2740.50390625,"wires":[]},{"id":"b0763169.d46a98","type":"ui_switch","z":"31a6f56f.45fb12","name":"","label":"Geyser D2 (6.30-9am; 2-5pm)","tooltip":"","group":"aa0e0cd0.f147a8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":556,"y":2747.50390625,"wires":[["af9761d1.31d2"]]},{"id":"7b9b2948.306a68","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"stat/GeyserD2(9-12)/POWER","qos":"0","datatype":"auto","broker":"c1901bd3.1b9098","x":206,"y":2747.50390625,"wires":[["b0763169.d46a98"]]},{"id":"7c67e629.b2523","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserD2(9-12)/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":206,"y":2849.50390625,"wires":[["a3b032c6.b33c58"]]},{"id":"a3b032c6.b33c58","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":442,"y":2849.50390625,"wires":[["1b82833a.3b23a5","5b825848.83073","e5688e5b.768d38"]]},{"id":"5b825848.83073","type":"template","z":"31a6f56f.45fb12","name":"Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Power}}","output":"str","x":629,"y":2798.50390625,"wires":[["a29d2a56.11a64","9e6a6595.684cf","fe4f3f37.4670d8"]]},{"id":"1b82833a.3b23a5","type":"template","z":"31a6f56f.45fb12","name":"Energy Today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Today}}","output":"str","x":659,"y":2849.50390625,"wires":[["74c52849.76651"]]},{"id":"e5688e5b.768d38","type":"template","z":"31a6f56f.45fb12","name":"Energy Yesterday","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.ENERGY.Yesterday}}","output":"str","x":669,"y":2900.50390625,"wires":[["c01ddd74.b5a168"]]},{"id":"74c52849.76651","type":"ui_text","z":"31a6f56f.45fb12","group":"aa0e0cd0.f147a8","order":4,"width":0,"height":0,"name":"","label":"Energy Today","format":"{{msg.payload}} kWh","layout":"row-spread","x":863,"y":2849.50390625,"wires":[]},{"id":"c01ddd74.b5a168","type":"ui_text","z":"31a6f56f.45fb12","group":"aa0e0cd0.f147a8","order":5,"width":0,"height":0,"name":"","label":"Energy Yesterday","format":"{{msg.payload}} kWh","layout":"row-spread","x":873,"y":2900.50390625,"wires":[]},{"id":"a29d2a56.11a64","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"aa0e0cd0.f147a8","order":7,"width":"0","height":"0","label":"Daily Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1057,"y":2798.50390625,"wires":[[]]},{"id":"9e6a6595.684cf","type":"ui_text","z":"31a6f56f.45fb12","group":"aa0e0cd0.f147a8","order":3,"width":0,"height":0,"name":"","label":"Current Usage","format":"{{msg.payload}} kWh","layout":"row-spread","x":861,"y":2796.50390625,"wires":[]},{"id":"10a476bb.20d8a1","type":"timerswitch","z":"31a6f56f.45fb12","name":"","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"06","on_m":"30","on_s":"00","off_h":"09","off_m":"00","off_s":"00","valid":true},{"on_h":"14","on_m":"00","on_s":"00","off_h":"17","off_m":"00","off_s":"00","valid":true}],"x":592,"y":2656.50390625,"wires":[["af9761d1.31d2"]]},{"id":"44b065a4.8ec5d4","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"tele/GeyserD2Temp/SENSOR","qos":"2","datatype":"auto","broker":"c1901bd3.1b9098","x":1288.009765625,"y":2793.75390625,"wires":[["5024bb19.de9164"]]},{"id":"5024bb19.de9164","type":"json","z":"31a6f56f.45fb12","name":"","property":"payload","action":"","pretty":false,"x":1524.009765625,"y":2793.75390625,"wires":[["9e07d599.a62a5"]]},{"id":"9e07d599.a62a5","type":"template","z":"31a6f56f.45fb12","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.DS18B20.Temperature}}","output":"str","x":1711.009765625,"y":2742.75390625,"wires":[["fb594af0.ef0d2","90dc18f6.9e2ad","f36a4c3b.c8c94"]]},{"id":"fb594af0.ef0d2","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"aa0e0cd0.f147a8","order":6,"width":"0","height":"0","label":"Daily Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2139.009765625,"y":2742.75390625,"wires":[[]]},{"id":"90dc18f6.9e2ad","type":"ui_gauge","z":"31a6f56f.45fb12","name":"","group":"aa0e0cd0.f147a8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"째C","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1922.009765625,"y":2796.75390625,"wires":[]},{"id":"fe4f3f37.4670d8","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"aa0e0cd0.f147a8","order":9,"width":"0","height":"0","label":"Weekly Power","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":863,"y":2934.50390625,"wires":[[]]},{"id":"f36a4c3b.c8c94","type":"ui_chart","z":"31a6f56f.45fb12","name":"","group":"aa0e0cd0.f147a8","order":8,"width":"0","height":"0","label":"Weekly Temp","chartType":"line","legend":"false","xformat":"dd ","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1948.009765625,"y":2856.25390625,"wires":[[]]},{"id":"1a05931d.1b771d","type":"mqtt in","z":"31a6f56f.45fb12","name":"","topic":"amazonalexa/skill","qos":"2","datatype":"auto","broker":"79a0c00c.20fb2","x":230,"y":3000,"wires":[["4197cf63.f22af"]]},{"id":"4197cf63.f22af","type":"debug","z":"31a6f56f.45fb12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":3000,"wires":[]}]